@use "../utils/mixins";
@use "../utils/variables";

.accordion {
  overflow: hidden;
  margin-bottom: 32px;

  .open-panel {
    position: absolute;
    width: 64px;
    height: 64px;
    top: 0;
    right: 0;
    border-radius: 50%;
    background-color: #F7FBF6;

    &:after,
    &:before {
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      left: 50%;
      top: 50%;
      background-color: #6A6A6A;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

    &:after {
      width: 14px;
      height: 2px;
    }

    &:before {
      width: 2px;
      height: 14px;
      transition: opacity .35s;
    }
  }

  .panel {
    width: 100%;
    margin-bottom: 16px;
    padding-bottom: 8px;
    &__heading {
      display: flex;
      align-items: center;
      min-height: 64px;
      position: relative;
      transition: .7s;
    }

    &__title {
      font-size: 24px;
      font-weight: 400;
      color: #6A6A6A;
      padding-right: 94px;
    }
  }

  .panel-collapse {
    padding-top: 8px;
    padding-right: 94px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;

    &__body p {
      color: #6A6A6A;
      font-size: 16px;
      line-height: 1.5;
    }
  }

  .panel__heading.open {
     .open-panel:before {
      opacity: 0;
    }
  }
}

.accordion .panel:last-child{
  margin-bottom:0;
}

@include mixins.respond-to(variables.$sm){
  .accordion .panel__title {
    font-size:18px;
  }
  .accordion .panel-collapse__body p{
    font-size: 14px;
  }
  .accordion .open-panel{
    width: 50px;
    height: 50px;
  }
}