.btn {
  display: inline-flex;
  font-family: $main-font;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.0015em;
  text-align: center;
  border: none;
  appearance: none;
  transition: .5s;
  justify-content: center;
  align-items: center;
  padding: 24px;
  height: 72px;
  &_main {
    background: $medium-green;
    color: $modern-black-5;

    &:hover,
    &:focus {
      background-color: $medium-green-80;
      color: $creative-green-5;
    }

    &:active {
      background-color: $creative-green-100;
      color: $creative-green-5;
    }

    &.disabled,
    &[disabled]{
      color: $serena-green-40;
      background-color: $serena-green-20;
    }
  }

  &_stroke {
    border: 1px solid $medium-green;
    color: $medium-green;
    background-color: transparent;
    &:hover,
    &:focus {
      border: 1px solid $medium-green-80;
      color: $medium-green-80;
    }

    &:active {
      border: 1px solid $creative-green-100;
      color: $creative-green-100;
    }

    &:disabled,
    &[disabled]{
      border: 1px solid $serena-green-40;
      color: $modern-black-20;
    }
  }

  &_light {
    background-color: $creative-green-5;
    color: $serena-green-60;

    &:hover,
    &:focus {
      background-color: $creative-green-5;
      color: $serena-green-40;
    }

    &:active {
      background-color: $creative-green-20;
      color: $creative-green-100;
    }

    &:disabled,
    &[disabled]{
      background-color: $serena-green-5;
      color: $serena-green-20;
    }
  }

  &_more,
  &_call {
    max-width: 326px;
  }
  &_round{
    border-right: 50%;
    width: 60px;
    height: 60px;
    background-color: #fff;
  }
}
