@use "../utils/variables";

.btn {
  display: inline-flex;
  font-family: variables.$main-font;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.0015em;
  text-align: center;
  border: none;
  appearance: none;
  transition: .5s;
  justify-content: center;
  align-items: center;
  padding: 24px;
  height: 72px;
  &_main {
    background: variables.$medium-green;
    color: variables.$modern-black-5;

    &:hover,
    &:focus {
      background-color: variables.$medium-green-80;
      color: variables.$creative-green-5;
    }

    &:active {
      background-color: variables.$creative-green-100;
      color: variables.$creative-green-5;
    }

    &.disabled,
    &[disabled]{
      color: variables.$serena-green-40;
      background-color: variables.$serena-green-20;
    }
  }

  &_stroke {
    border: 1px solid variables.$medium-green;
    color: variables.$medium-green;
    background-color: transparent;
    &:hover,
    &:focus {
      border: 1px solid variables.$medium-green-80;
      color: variables.$medium-green-80;
    }

    &:active {
      border: 1px solid variables.$creative-green-100;
      color: variables.$creative-green-100;
    }

    &:disabled,
    &[disabled]{
      border: 1px solid variables.$serena-green-40;
      color: variables.$modern-black-20;
    }
  }

  &_light {
    background-color: variables.$creative-green-5;
    color: variables.$serena-green-60;

    &:hover,
    &:focus {
      background-color: variables.$creative-green-5;
      color: variables.$serena-green-40;
    }

    &:active {
      background-color: variables.$creative-green-20;
      color: variables.$creative-green-100;
    }

    &:disabled,
    &[disabled]{
      background-color: variables.$serena-green-5;
      color: variables.$serena-green-20;
    }
  }

  &_more,
  &_call {
    max-width: 326px;
  }

}
