.tech-charact {
  color: #677369;

  &__row {
    display: flex;
    padding: 16px 0;
    background-image: linear-gradient(to right, #DFE5DF 58%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 18px 1px;
    background-repeat: repeat-x;
  }

  &__col {
    width: 50%;

    &:first-child {
      padding-right: 8px;
    }
    &:last-child {
      padding-left: 8px;
    }

    &:first-child {
      font-weight: 500;
      color: #1A1F1A;
      padding-left: 0;
    }
    &.value span {
      &:nth-child(1) {
        color: #419DED;
      }
      &:nth-child(2) {
        color: #EDBF41;
      }
      &:nth-child(3) {
        color: #ED41A0;
      }
      &:nth-child(4) {
        color:#41ED75;
      }

    }
  }
}

.btn_more {
  max-width: 100%;
  width: 100%;
  margin-top: 24px;
}