.menu {
  padding-top: 8px;
  padding-bottom: 8px;

  &__item {
    font-family: $main-font;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.001em;
    padding: 14px 24px 14px 0;
    color: $black;
    background-color: #FFFFFF;

    &:hover > .sub-menu {
      z-index: 1;
      opacity: 1;
      visibility: visible;

    }
  }

  &__link {
    display: inline-block;
    transition: .35s;
    color: inherit;

    &:hover,
    &:focus {
      color: $medium-green;
    }
  }

}

.sub-menu.active {
  z-index: 1;
  opacity: 1;
  visibility: visible;
}

.sub-menu,
.third-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: none;
}

.dropdown {
  position: relative;

  > .menu__link {
    position: relative;
    display: block;

    &:before {
      position: absolute;
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 0 5px 5px;
      border-color: transparent transparent transparent #CDCDCD;
      content: '';
      right: -15px;
      top: 50%;
      transition: .35s;
      transform: translateY(-50%);
      z-index: 0;
    }

    &:hover:before {
      border-color: transparent transparent transparent #52b95f;
    }
  }
}

.third-menu-container,
.sub-menu {
  position: fixed;
  width: 340px;
  background: transparent;
  padding: 16px 0;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translateX(calc(100% - 40px));
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease;
  cursor: default;
  height: 100vh;
  overflow: auto;
  z-index: -1;

  > .menu__item {
    padding: 0 16px 0 24px;
    background-color: #FFFFFF;

    &:hover .wrap-img,
    &:focus .wrap-img {
      opacity: 1;
    }
  }

  .wrap-img {
    display: block;
    width: 64px;
    height: 64px;
    opacity: 0;
    flex-shrink: 0;
    transition: .35s;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .menu__link {
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover,
    &:focus {
      color: $medium-green-80;
    }
  }
}

.third-menu-container .sub-menu-third > li {
  padding: 14px 24px;
}

@include respond-to($lg) {
  .dropdown > .menu__link:before,
  .sub-menu {
    display: none;
  }
}