.pagination {
  display: flex;
  gap: 16px;
  color: #6A6A6A;
  &__item {
    width: 50%;
  }

  &__btn {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    line-height: 1;
    transition: .35s;
  }

  &__btn-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    transition: .35s;
  }

  &__btn,
  &__btn-nav {

    &:hover,
    &:focus {
      color: $medium-green-80;

      .number {
        color: $medium-green-80;
      }
    }

    &:active {
      .number {
        color: $creative-green-100;
      }

      color: $creative-green-100;
    }
  }

  &__title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #F3F3F3;
    margin-right: 16px;
    flex-shrink: 0;
  }
}