// fonts

$main-font: "e-Ukraine", sans-serif;

// bg and color
$medium-green: #27A737;

$medium-green-20: #D4EDD7;
$medium-green-40: #A9DCAF;
$medium-green-80: #52B95F;


$modern-black-5: #F3F3F3;
$modern-black-20: #CDCDCD;
$modern-black-40: #9B9B9B;

$modern-black-60: #6A6A6A;

$modern-black-80: #383838;
$modern-black-100: #060606;

$creative-green-5: #F7FBF6;
$creative-green-20: #E0F0DA;
$creative-green-100: #64B445;

$serena-green-5: #F3F5F5;

$serena-green-20: #D1D8D7;
$serena-green-40: #A2B2AE;
$serena-green-60: #748886;
$serena-green-80: #45655D;
$serena-green-100: #173E35;

$black: #383838;
$white: #ffffff;

// Screen Variables

$xs: '(max-width: 375px)';
$sm: '(max-width: 576px)';
$md: '(max-width: 768px)';
$lg: '(max-width: 991px)';
$xl: '(max-width: 1280px)';
$xxl: '(max-width: 1440px)';



