/* new style 25.10.24  */

.heading_withe_bg,
.box-text_bottom {
  display: flex;
  align-items: flex-end;
}

.box-text_bottom .grid__text h3 {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 4px;
}

.box-text_bottom .grid__text p {
  margin-bottom: 0;
}

.realfactory-body p:last-of-type {
  margin-bottom: 0;
}

.realfactory-body h2 {
  font-weight: 400;
  margin-bottom: 16px;
}

.realfactory-body .heading_withe_bg h2 {
  margin-bottom: 8px;
}

.heading_withe_bg .text_bottom h2:last-child {
  margin-bottom: 0;
}

.heading_withe_bg .gdlr-core-pbf-column-content {
  margin-left: 0;
}

.gdlr-core-left-align.btn-text-al .gdlr-core-content {
  text-align: center;
}

.gdlr-core-button-item.gdlr-core-item-pdlr.gdlr-core-item-pdb.gdlr-core-left-align.btn-text-al {
  pointer-events: none;
}

@media only screen and (max-width: 767px) {
  .footer-top-block .ftb-text h4,
  .realfactory-body h2,
  .realfactory-body .heading_withe_bg h2 {
    font-size: 24px !important;
  }
  .page-title {
    font-size: 32px;
  }
  .page-title.small-title {
    font-size: 24px;
    line-height: 32px;
  }
  .page__header .text {
    font-size: 16px;
    line-height: 24px;
  }
  .counter-about-v .gdlr-core-counter-item {
    text-align: center;
  }
  .counter_v .gdlr-core-pbf-column-content {
    margin-left: auto;
  }
  .gdlr-core-icon-list-item.list-img-v ul li {
    display: flex;
    flex-direction: column;
  }
  .gdlr-core-icon-list-item.list-img-v .gdlr-core-icon-list-caption {
    font-size: 16px;
  }
}

.gdlr-core-pbf-column-content-margin.heading_withe_bg {
  position: relative;
}

.gdlr-core-pbf-column-content-margin.heading_withe_bg:before {
  position: absolute;
  content: '';
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(6, 6, 6, .65);
  transition: 1s;
  z-index: 1;
}

.gdlr-core-pbf-column-content-margin.heading_withe_bg .gdlr-core-pbf-column-content {
  position: relative;
  z-index: 2;
}

.box-text_bottom {
  position: relative;
}

.box-text_bottom:before {
  position: absolute;
  content: '';
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(6, 6, 6, .65);
  transition: 1s;
  z-index: 1;
}

.box-text_bottom .gdlr-core-pbf-column-content {
  flex-grow: 1;
  position: relative;
  z-index: 1;
}

.gdlr-core-icon-list-item.list-img-v ul {
  display: flex;
  flex-direction: column;
}

.article-dynamic-content {
  ul {
    list-style-type: square;
  }
}

.gdlr-core-pbf-column-content-margin.gdlr-core-js.hotspot {
  width: 30%;
  margin: 0 auto;
}

.tech-charact {
  margin-bottom: 24px;
}

.tech-charact:last-child {
  margin-bottom: 0;
}

.gdlr-core-text-box-item.wrap-tech-charact p {
  margin-bottom: 8px;
}

.gdlr-core-text-box-item.wrap-tech-charact p:last-child {
  margin-bottom: 0;
}

.btn_more {
  margin-bottom: 32px;
}

.gdlr-core-gallery-item .gdlr-core-gallery-list {
  text-align: center;
  height: 640px;
  display: flex;
  align-items: center;
}

.gdlr-core-flexslider .flex-direction-nav li a {
  padding: 20px;
  width: 64px;
  background: #F7FBF6;
  color: #6A6A6A;
}

.gdlr-core-flexslider .flex-direction-nav li a i {
  font-size: 24px;
  width: 24px;
}

.gdlr-core-page-builder-body p {
  margin-bottom: 8px;
}

.gdlr-core-title-item .gdlr-core-title-item-title {
  letter-spacing: 0;
  line-height: 1.25;
}

@media only screen and (max-width: 767px) {
  body .gdlr-core-container {
    padding-left: 0;
    padding-right: 0;
  }
  .green-slider .swiper-slide {
    padding-left: 0;
    padding-top: 47px;
  }
  .gdlr-core-flexslider .flex-direction-nav li {
    position: static;
    margin: 0;
  }
  .gdlr-core-flexslider .flex-direction-nav {
    height: 120px;
    display: flex;
    justify-content: space-between;
    padding: 24px 0 32px;
  }
  .gdlr-core-gallery-item .gdlr-core-gallery-list {
    height: 320px;
  }
}

.gdlr-core-button-item.gdlr-core-item-pdlr.gdlr-core-item-pdb.gdlr-core-center-align.btn-play_v {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .45);
  z-index: 1;
}

.gdlr-core-button-item.gdlr-core-item-pdlr.gdlr-core-item-pdb.gdlr-core-center-align.btn-play_v a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: rgba(255, 255, 255, .15);
}

.gdlr-core-button-item.gdlr-core-item-pdlr.gdlr-core-item-pdb.gdlr-core-center-align.btn-play_v a:before {
  position: absolute;
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 11px;
  border-color: transparent transparent transparent #FFFFFF;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.page-title {
  transition: 0.3s;
  transition-timing-function: ease-in-out;
}


/* Для Webkit-браузерів*/
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #7DCA87;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #27A737;
}


/* Для Firefox */
.sidebar__inner,
.sub-menu,
html {
  scrollbar-width: thin;
  scrollbar-color: #7DCA87 #F4FBF5;
}

.gdlr-core-gallery-item .gdlr-core-gallery-list img {
  max-width: none;
  width: 100%;
}

.gdlr-core-gallery-item .gdlr-core-gallery-list a {
  width: 100%;
}

.gallery_new .gdlr-core-page-builder-body img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// bg-full
.gdlr-core-page-builder-body:has(.full-bg) {
  overflow: initial;
}

.full-bg .gdlr-core-pbf-background-wrap {
  top: 0;
  right: 100vw;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  overflow: visible;
}

.gdlr-core-pbf-wrapper.full-bg .gdlr-core-pbf-background-wrap:before {
  position: absolute;
  content: '';
  background-color: rgba(0, 0, 0, .65);
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 0;
}

.full-bg .full-bg__content {
  display: flex;
  align-items: flex-end;
}

.full-bg__content .gdlr-core-pbf-column-content {
  width: 100%;
}

.full-bg__content .text_bottom h2 {
  font-size: 32px;
  margin-bottom: 8px;
  letter-spacing: 0;
  line-height: 1.25;
}

@media screen and (max-width: 767px) {
  .full-bg__content .text_bottom h2 {
    font-size: 24px !important;
  }
}

.wp-block-heading {
  margin-top: 32px;
}

.map {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.map svg {
  grid-area: 1 / 1 / 6 / 7;
  max-width: 100%;
  height: auto;
}

.mapTooltip {
  font-family: e-Ukraine;
  display: inline-block;
  padding: 30px 30px 20px 20px;
  grid-area: 1 / 6 / 1 / 9;
  border: none !important;
  max-width: 272px;
}

.mapTooltip .country {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.0015em;
  display: inline-block;
  width: 100%;
  position: relative;
}

.mapTooltip .address {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.mapTooltip .country:before {
  position: absolute;
  content: '';
  display: block;
  background-image: url(/wp-content/uploads/2024/12/my-location.svg);
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center;
  right: -30px;
  top: 22px;
  z-index: 1;
}

.privacy-policy .main {
  padding-bottom: 32px;
}

@media screen and (max-width: 767px) {
  .map {
    grid-template-columns: 1fr;
    grid-template-rows: auto 60px;
  }
  .map svg {
    grid-area: 1 / 1 / 2 / 2;
  }
  .mapTooltip {
    grid-area: 2 / 1 / 3 / 2;
    min-height: 50px;
  }
}


//.full-bg.full-bg-2 .full-bg__content-right,
.full-bg.full-bg-2 .full-bg__content {
  position: relative;
  height: 100%;
}

.full-bg.full-bg-2 .gdlr-core-pbf-background-wrap:before {
  content: none;
}

//.full-bg.full-bg-2 .full-bg__content-right .gdlr-core-pbf-background-wrap:before,
.full-bg.full-bg-2 .full-bg__content .gdlr-core-pbf-background-wrap:before {
  position: absolute;
  content: '';
  background-color: rgba(0, 0, 0, .65);
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 0;
}

.full-bg.full-bg-2 .gdlr-core-pbf-wrapper-container, .full-bg.full-bg-2 .gdlr-core-container-custom {
  display: flex;
}

.full-bg.full-bg-2 .full-bg__content-right .gdlr-core-pbf-background-wrap {
  left: 0;
  right: auto;
}

.full-bg.full-bg-2 .full-bg__content-left .gdlr-core-pbf-background-wrap {
  right: 0;
  left: auto;
}

.full-bg.full-bg-2 .full-bg__content .gdlr-core-pbf-background-wrap {
  top: 0;
  bottom: 0;
  transform: none;
  width: calc((100vw - 316px) / 2);
}
.full-bg.full-bg-2 .full-bg__content h3{
  font-size:22px;
  line-height: 28px;
  margin-bottom: 4px;
}

@media screen and (max-width: 991px) {
  .full-bg.full-bg-2 .full-bg__content .gdlr-core-pbf-background-wrap {
    width: 50vw;
  }
}

@media only screen and (max-width: 767px) {
  .full-bg.full-bg-2 .full-bg__content  .gdlr-core-pbf-background-wrap {
    width: 100vw;
}
  .full-bg.full-bg-2 .gdlr-core-pbf-wrapper-container,
  .full-bg.full-bg-2 .gdlr-core-container-custom {
    flex-direction: column;
  }


  .full-bg.full-bg-2 .full-bg__content .gdlr-core-pbf-background-wrap {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  .full-bg.full-bg-2 .gdlr-core-pbf-wrapper-container.gdlr-core-container,
  .full-bg.full-bg-2 .gdlr-core-container{
    max-width: 100%!important;
  }
}

.gdlr-core-pbf-section:first-child {
  padding-top: 32px;
}
