/* new style 25.10.24  */

.heading_withe_bg,
.box-text_bottom{
  display:flex;
  align-items: flex-end;
}

.box-text_bottom  .gdlr-core-pbf-column-content {
  flex-grow:1;
}

.box-text_bottom  .grid__text h3{
  font-size: 22px;
  line-height: 28px;
  margin-bottom:4px;
}
.box-text_bottom  .grid__text p{
  margin-bottom:0;
}

.realfactory-body p:last-of-type{
  margin-bottom:0;
}

.realfactory-body  h2{
  font-weight:400;
  margin-bottom:16px;
}

.realfactory-body .heading_withe_bg h2{
  margin-bottom:8px;
}
.heading_withe_bg .text_bottom h2:last-child{
  margin-bottom:0;
}
.heading_withe_bg .gdlr-core-pbf-column-content{
  margin-left:0;
}
