body {
  font: 400 16px/1.5 $main-font;
  color: #2e3540;
  background-color: #FFFFFF;
  scroll-behavior: smooth;
}

.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-left: 300px;
}

.backdrop {
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.45);
  visibility: hidden;
  transition: .35s;

  &.el-visible {
    opacity: 1;
    visibility: visible;
    z-index: 300;
  }
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.section {
  padding: 32px 0;
}

.breadcrumbs {
  margin-bottom: 10px;

  &__item {
    position: relative;
    padding-left: 28px;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.001em;

    a {
      transition: .35s;

      &:hover {
        color: #C1E1B5;
      }
    }

    &:before {
      position: absolute;
      content: '';
      display: block;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      background-image: url(../assets/img/line-arrow-left.svg);
      background-repeat: no-repeat;
      background-size: inherit;
      background-position: center;
      z-index: 1;
    }
  }
}

.link {
  display: inline-block;
  font-size: 14px;
  letter-spacing: 0.002em;
  color: #27A737;
  transition: .35s;

  &:hover,
  &:focus {
    color: $medium-green-80;
  }

  &:active {
    color: $creative-green-100;
  }

  &.link_whith-arrow {
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 24px;
    height: 24px;
  }
}

.list-with-counter {
  .list__item {
    position: relative;
    display: flex;
    min-height: 32px;
    align-items: center;
    padding-left: 48px;
    counter-increment: section;
    margin-bottom: 16px;

    &:before {
      content: counter(section, decimal-leading-zero);
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #FFFFFF;
      position: absolute;
      width: 32px;
      height: 32px;
      left: 0;
      top: 0;
      font-size: 12px;
      line-height: 16px;
      border-radius: 50%;
      letter-spacing: 0.005em;
      color: #45655D;
      border: 1px solid #748B86;
    }
  }
}
.quote-green .gdlr-core-left-align {
  position: relative;
  text-align: left;
  padding-left: 24px;
}
.quote-green .gdlr-core-left-align:before {
  position: absolute;
  content: '';
  display: block;
  width: 4px;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #64B445;
  z-index: 1;
}

.list-icon-v.gdlr-core-icon-list-item ul li{
  display: flex;
  align-items: center;
}
.list-icon-v.gdlr-core-icon-list-item .gdlr-core-icon-list-image{
  flex-shrink: 0;
}
.gdlr-core-pbf-wrapper.counter-about-v {
  color: #fff;
}

.counter-about-v .gdlr-core-pbf-column-content {
  margin-left: 0;
  text-align: left;
}
.counter-about-v  .gdlr-core-counter-item {
  text-align: left;
}
.counter-about-v .gdlr-core-pbf-column-content-margin{
  height:150px;
}

//@include respond-to($xl) {
//
//}
//
//@include respond-to($lg) {
//  .wrapper {
//    padding-left: 0;
//  }
//  .main {
//    padding-top: 80px;
//  }
//}
//
//@include respond-to($sm) {
//
//}
//
//@include respond-to($xs) {
//
//}




