.display-lg {
  font-size: 45px;
  line-height: 52px;
}

.headline-lg {
  font-size: 32px;
  line-height: 40px;
}


.headline-sm {
  font-size: 24px;
  line-height: 32px;
}

.title-lg {
  font-size: 22px;
  line-height: 28px;
}

.title-md {
  font-size: 16px;
  line-height: 24px;
}

.title-sm {
  font-size: 14px;
  line-height: 20px;
}

.text-md {
  font-size: 14px;
  line-height: 20px;
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}