@use "../utils/mixins";
@use "../utils/variables";

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  padding: 16px 24px;
  background-color: #F4FBF5;
  border-bottom: 1px solid #F3F3F3;
  z-index: 250;

  &__logo {
    max-width: 252px;
    display: block;
    color: variables.$medium-green;
    transition: .35s;

    svg {
      display: block;
      width: 100%;
    }

    &:hover {
      color: variables.$medium-green-80;
    }

    &:active {
      color: variables.$creative-green-100;
    }
  }

  &.open {
    z-index: 360;
  }

  .btn-burger {
    display: none;
  }
}


@include mixins.respond-to(variables.$lg) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;

    .btn-burger {
      display: block;
      border: none;
      background-color: transparent;
      width: 32px;
      height: 32px;
      background-image: url(../assets/img/Menu.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      transition: .5s;
      &.toggle-open{
        background-image: url(../assets/img/Close1.svg);
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(324deg) brightness(108%) contrast(102%);
      }
    }
  }
}